body {
  background-color:#FFFFFF;
}

.piirtoalue {
  position:absolute;
  left:10px;
  top:60px;
  width:550px;
  height:600px;
  background-color:#b3bbcf;
}

.tyokalut {
  position:absolute;
  left:20px;
  top:700px;
  width:550px;
  background-color:#516eb7;
}

.arvausalue {
  position:absolute;
  right:10px;
  top:60px;
  width:440px;
  height:600px;
  background-color:#b3bbcf;
}

.painikkeet {
  position:absolute;
  right:10px;
  top:700px;
  width:440px;
  background-color:#516eb7;
}

h1 {
  color:#D2691E;
  font-size:120px;
  font-family: 
}
